.list{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
}

/*NAVIGATION*/
.logo{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-span{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2E2F42;
    text-decoration: none;
}

.menu-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing:0.02em;
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}
/*.address-list{}*/


.address-link{
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

.hero-section{
    background-color:#2E2F42;
}

.main-title{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight:700;
    line-height:1.07;
    letter-spacing:0.02em ;
    text-align: center;
    color: #ffffff;
}

.button-name{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
}

.button-name:hover,
.button-name:focus{
    color: #ffffff;
    background-color: #404bbf;
}

/*.our-benefits{}*/
/*.comp-desk-list*/

.sec-title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.add-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455
}

.section-team{
    background-color: #F4F4FD;
    color: #2E2F42;
}

.team-item{
    background-color: #ffffff;
}

/*.portfolio{}*/
/*.portfolio-list{}*/
/*.portfolio-list-item{}*/

.footer-section{
    background-color: #2E2F42;
}

.logo-link-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}

.text-footer{
    color:#F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}